<div 
  *ngIf="loading"
  class="notification is-primary">
  <button class="delete"></button>
  <i class="fas fa-spinner fa-pulse fa-2x"></i>
  <br>
  Cargando Usuarios
</div>


<article 
  *ngIf="error"
  class="message is-danger">
  <div class="message-header">
    Error: {{ error.status }}
    <button class="delete"></button>
  </div>
  <div class="message-body">
    {{ error.message }}  </div>
</article>


<div
  *ngIf="!loading  && user!=null "
  class="columns">
    <div class="column">
      
    </div>
    <div class="column is-three-fifths "> 
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img [src]="user.avatar" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4"> {{user.first_name}} {{ user.last_name }} </p>
              <p class="subtitle is-6">@{{user.first_name}}</p>
            </div>
          </div>
      
          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            <br>
            ID: {{user.id}}
            <br>
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
          </div>
        </div>
        <footer class="card-footer">
            <a href="#" class="card-footer-item">Save</a>
            <a href="#" class="card-footer-item">Edit</a>
            <a href="#" class="card-footer-item">Delete</a>
          </footer>
      </div>
    </div>
    <div class="column"></div>
  </div>